<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src = "http://localhost:3000/Bella_stare.jpg">
      <nav>
        <ul>
          <li><a href = "http://localhost:3000/scrabble/chart">Score Chart</a></li>
          <li><a href = "http://localhost:3000/scrabble/score">Score Chart</a></li>
        </ul>
      </nav>
    </header>
    <!-- <h1><%= title %></h1> -->
    <p>Welcome to <%= title %>'s Page!</p>
  </body>
</html>
